.DS_Store
node_modules
.idea
.env

pdfjs/build
dest
work/pdf-annotatejs/dist
site/

dist
jsdoc
.vscode/

# Server Data.
server-data
server/userdata
server/extlib/*.jar

# Server dependencies.
server/pdfextract.jar
