.DS_Store
node_modules
npm-debug.log
.idea
.env

work/pdf-annotatejs/dist
site/

dist
build/
jsdoc
.vscode/

# Server Data.
server-data
server/userdata
server/extlib/*.jar

# Server dependencies.
server/pdfextract.jar
