
/**
 * Utilities.
 */
.--hide {
  display: none;
}

/**
 * SVGLayer.
 */
.annoLayer {}
.annoLayer > *.--viewMode {
  opacity: 0.5;
}
.annoLayer > *.--viewMode.--emphasis {
  opacity: 1;
}

/**
    各種アノテーション
*/
.anno-circle {
    transition:0.2s;
    transform-origin: center center;
}
.--hover .anno-circle {
  box-shadow: rgba(113,135,164,.6) 1px 1px 1px 1px;
  /*transform: scale(2);*/
  stroke: blue;
  stroke-width: 5px;
}

.--hover .anno-span {
  /*html*/
  box-shadow: 0 0 0 1px #ccc inset;
  /*svg*/
  stroke: #ccc;
  stroke-width: 0.75px;
}
.--selected .anno-span {
  stroke: black;
  stroke-width: 0.5px;
  stroke-dasharray: 3;
}
/**
  Relation.
*/
.anno-relation {
  transition:0.2s;
}
.--hover .anno-relation {
  stroke-width: 2px;
}
.--selected .anno-relation {
}
.anno-relation-outline {
  fill: none;
  visibility: hidden;
}
.--selected .anno-relation-outline {
  visibility: visible;
  stroke: black;
  stroke-width: 2.85px;
  pointer-events: stroke;
  stroke-dasharray: 3;
}

/**
 * Span.
 */
.anno-span {}
.anno-span rect {
    /* Enable the hover event on circles and text even if they are overwraped other spans. */
    pointer-events: none;
}

/**
  Rect.
*/
.anno-rect {
}
.--hover .anno-rect {
  /*html*/
  box-shadow: 0 0 0 1px #ccc inset;
  /*svg*/
  stroke: #ccc;
  stroke-width: 0.75px;
}
.--selected .anno-rect {
  stroke: black;
  stroke-width: 0.5px;
  stroke-dasharray: 3;
}

/**
  Text.
*/
.anno-text-group, .anno-text-group.--viewMode {
    transition: 0.2s;
    opacity: 0.01; /* for enabling a hover event. */
}
.anno-text-group.--hover,
.anno-text-group.--selected,
.anno-text-group.--visible {
    opacity: 1;
}
.anno-text-group text {
    /* Disable span action when selecting an anno text. */
    user-select: none;
}
.anno-text {
}
.--hover .anno-text {
  fill: rgba(255, 255, 255, 1.0);
  stroke: black;
  stroke-width: 0.75px;
}
.--hover .anno-text ~ text {
  fill: rgba(255, 0, 0, 1.0);
}
.--selected .anno-text {
  stroke: rgba(255, 0, 0, 1.0);
  stroke-width: 1.5px;
  fill: rgba(255, 232, 188, 1.0);
  stroke-dasharray: 3;
}
.--selected .anno-text ~ text {
  fill: rgba(0, 0, 0, 1.0);
}

/**
 Disable text layers.
*/
body.disable-text-layer .textLayer {
    display: none;
}

