
/**
 * Utilities.
 */
.--hide {
  display: none;
}

/**
 * SVGLayer.
 */
.annoLayer {}
.annoLayer > *.--viewMode {
  opacity: 0.5;
}
.annoLayer > *.--viewMode.--emphasis {
  opacity: 1;
}

/**
    各種アノテーション
*/
.anno-circle {
    transition:0.2s;
    transform-origin: center center;
}
.--hover .anno-circle {
  box-shadow: rgba(113,135,164,.6) 1px 1px 1px 1px;
  /*transform: scale(2);*/
  stroke: blue;
  stroke-width: 5px;
}

.--hover .anno-highlight {
  /*html*/
  box-shadow: 0 0 0 1px #ccc inset;
  /*svg*/
  stroke: #ccc;
  stroke-width: 0.75px;
}
.--selected .anno-highlight {
  stroke: black;
  stroke-width: 0.5px;
  stroke-dasharray: 3;
}
/**
  Arrow.
*/
.anno-arrow {
  transition:0.2s;
}
.--hover .anno-arrow {
  stroke-width: 2px;
}
.--selected .anno-arrow {
  animation: anime-arrow 0.5s infinite alternate;
}
.anno-arrow-outline {
  fill: none;
  visibility: hidden;

}
.--selected .anno-arrow-outline {
  visibility: visible;
  stroke: black;
  stroke-width: 2.75px;
  pointer-events: stroke;
}
@keyframes anime-arrow {
  0% {stroke: rgba(255, 60, 90, 1.0);}
  5% {stroke: rgba(255, 60, 90, 1.0);}
  100% {stroke: rgba(255, 210, 245, 1.0);}
}


/**
  Rect.
*/
.anno-rect {
}
.--hover .anno-rect {
  /*html*/
  box-shadow: 0 0 0 1px #ccc inset;
  /*svg*/
  stroke: #ccc;
  stroke-width: 0.75px;
}
.--selected .anno-rect {
  stroke: black;
  stroke-width: 0.5px;
  stroke-dasharray: 3;
}

/**
  Text.
*/
.anno-text {
  fill: rgba(255, 255, 190, 0.8);
}
.anno-text ~ text {
  fill: rgba(0, 0, 0, 1.0);
}
.--hover .anno-text {
  /*html*/
  box-shadow: 0 0 0 1px #ccc inset;
  /*svg*/
  stroke: #ccc;
  stroke-width: 0.75px;
  fill: rgba(255, 255, 190, 0.9);
}
.--hover .anno-text ~ text {
  fill: rgba(0, 0, 0, 1.0);
}
.--selected .anno-text {
  stroke: black;
  stroke-width: 0.5px;
  stroke-dasharray: 3;
}
.--selected .anno-text ~ text {
  fill: rgba(0, 0, 0, 1.0);
}
@keyframes anime-text {
  0% {fill: rgba(255, 40, 60, 0.8);}
  5% {fill: rgba(255, 40, 60, 0.8);}
  100% {fill: rgba(255, 120, 180, 0.8);}
}

