
/**
 * Utilities.
 */
.--hide {
  display: none;
}

/**
 * SVGLayer.
 */
.annoLayer {}
.annoLayer > *.--viewMode {
  opacity: 0.5;
}
.annoLayer > *.--viewMode.--emphasis {
  opacity: 1;
}

/**
    各種アノテーション
*/
.anno-circle {
    transition:0.2s;
    transform-origin: center center;
}
.anno-circle.--hover {
  box-shadow: rgba(113,135,164,.6) 1px 1px 1px 1px;
  /*transform: scale(2);*/
  stroke: blue;
  stroke-width: 5px;
}

.anno-highlight.--hover {
  /*html*/
  box-shadow: 0 0 0 1px #ccc inset;
  /*svg*/
  stroke: #ccc;
  stroke-width: 1px;
}
.anno-highlight.--selected {
  stroke: black;
  stroke-width: 1px;
  stroke-dasharray: 3;
/*  animation: anime-highlight 0.5s infinite alternate;*/
}
@keyframes anime-highlight {
  0% {stroke: rgba(255, 60, 90, 1.0);}
  5% {stroke: rgba(255, 60, 90, 1.0);}
  100% {stroke: rgba(255, 210, 245, 1.0);}
}
/**
  Arrow.
*/
.anno-arrow {
  transition:0.2s;
}
.anno-arrow.--hover {
  stroke-width: 2px;
}
.anno-arrow.--selected {
  animation: anime-arrow 0.5s infinite alternate;
}
.anno-arrow-outline {
  fill: none;
  visibility: hidden;

}
.anno-arrow-outline.--selected {
  visibility: visible;
  stroke: black;
  stroke-width: 3px;
  pointer-events: stroke;
}
@keyframes anime-arrow {
  0% {stroke: rgba(255, 60, 90, 1.0);}
  5% {stroke: rgba(255, 60, 90, 1.0);}
  100% {stroke: rgba(255, 210, 245, 1.0);}
}


/**
  Rect.
*/
.anno-rect {
}
.anno-rect.--hover {
  stroke-width: 2px;
  fill: rgba(255, 0, 0, 0.5);
}
.anno-rect.--selected {
  stroke: black;
  stroke-width: 4px;
  stroke-dasharray: 3;
}

/**
  Text.
*/
.anno-text {
  rx: 2;
  ry: 2;
}
.anno-text.--hover {
  fill: rgba(255, 255, 255, 0.9);
  transition: 0.15s;
  stroke: black;
  stroke-width: 1px;
}
.anno-text.--hover ~ text {
  fill: rgba(255, 0, 0, 0.9);
}
.anno-text.--selected  {
  animation: anime-text 0.5s infinite alternate;
  stroke: black;
  stroke-width: 1px;
}
.anno-text.--selected ~ text {
  fill: rgba(255, 255, 255, 1.0);
  font-weight: 300;
}
@keyframes anime-text {
  0% {fill: rgba(255, 40, 60, 0.8);}
  5% {fill: rgba(255, 40, 60, 0.8);}
  100% {fill: rgba(255, 120, 180, 0.8);}
}

