@charset "utf-8";

/*
 *  Search UI.
 */
.pdfanno-search-result {
    position: absolute;
    background-color: rgba(0, 255, 0, 0.7)
}
.pdfanno-search-result--highlight {
    background-color: rgba(255, 0, 0, 0.7)
}

/*
 * Text Layer.
 */
.pdfanno-text-layer {
    position: absolute;
    text-align: center;
}

/**
 * SVGLayer.
 */
.annoLayer > * {
  opacity: 0.5;
}
.annoLayer > *.--hover,
.annoLayer > *.--selected {
  opacity: 1;
}

/**
    Annotation related.
*/
/*TODO 形がcircleじゃ無くなるので名前を変えたい*/
.anno-knob {
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    transition: 0.2s;
    transform-origin: center center;
}
.--hover .anno-knob,
.--selected .anno-knob {
  box-shadow: rgba(113,135,164,.2) 1px 1px 1px;
  transform: scale(2);
}

/*
 * Span Annotation.
 */
/*TODO .anno-spanでスタイルをある程度は持ってもいいかも*/
.anno-span {}
.--hover .anno-span__area,
.--selected .anno-span__area {
  border: 2px dashed black !important;
  box-sizing: border-box;
}

/*TODO Relationをホバーしたり選択しても、赤色が薄い*/
/*TODO Relationを描画した直後は、位置が少しずれる。その後にフォーカスが外れると正しい位置へ移動する。*/

/**
  Relation Annotation.
*/
.anno-relation {
  transition:0.2s;
}
.--hover .anno-relation {
  stroke-width: 2px;
}
.--selected .anno-relation {
}
.anno-relation-outline {
  fill: none;
  visibility: hidden;
}
.--selected .anno-relation-outline {
  visibility: visible;
  stroke: black;
  stroke-width: 2.85px;
  pointer-events: stroke;
  stroke-dasharray: 3;
}

/**
 * Span Annotation.
 */
.anno-span rect {
    /* Enable the hover event on circles and text even if they are overwraped other spans. */
    pointer-events: none;
}

/**
  Rect Annotation.
*/
.anno-rect-base {
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
}
.anno-rect {
    position: absolute;
}
.--hover .anno-rect {
  box-shadow: 0 0 0 1px #ccc inset;
  stroke: #ccc;
  stroke-width: 0.75px;
}
.--selected .anno-rect {
  stroke: black;
  stroke-width: 0.5px;
  stroke-dasharray: 3;
}

/**
 Disable text layers.
*/
body.disable-text-layer .textLayer {
    display: none;
}

