@charset "utf-8";

/*
 *  Search UI.
 */
.pdfanno-search-result {
    position: absolute;
    background-color: rgba(0, 255, 0, 0.7)
}
.pdfanno-search-result--highlight {
    background-color: rgba(255, 0, 0, 0.7)
}

/*
 * Text Layer.
 */
.pdfanno-text-layer {
    position: absolute;
    text-align: center;
}

/**
 * SVGLayer.
 */
.annoLayer {}
.annoLayer > *.--viewMode {
  opacity: 0.5;
}
.annoLayer > *.--viewMode.--hover,
.annoLayer > *.--viewMode.--selected {
  opacity: 1;
}

/**
    Annotation related.
*/
.anno-circle {
    position: absolute;
    background: blue;
    border-radius: 50%;
    transition: 0.2s;
    transform-origin: center center;
}
.--hover .anno-circle,
.--selected .anno-circle {
  box-shadow: rgba(113,135,164,.2) 1px 1px 1px;
}

.anno-span.--hover .anno-circle {
  transform: scale(2);
}
.--hover .anno-span {
  box-shadow: 0 0 0 1px #ccc inset;
  border: 1px dashed #ccc;
}
.anno-span.--selected .anno-span__area {
  border: 2px dashed black !important;
  box-sizing: border-box;
}

/**
  Relation.
*/
.anno-relation {
  transition:0.2s;
}
.--hover .anno-relation {
  stroke-width: 2px;
}
.--selected .anno-relation {
}
.anno-relation-outline {
  fill: none;
  visibility: hidden;
}
.--selected .anno-relation-outline {
  visibility: visible;
  stroke: black;
  stroke-width: 2.85px;
  pointer-events: stroke;
  stroke-dasharray: 3;
}

/**
 * Span.
 */
.anno-span rect {
    /* Enable the hover event on circles and text even if they are overwraped other spans. */
    pointer-events: none;
}

/**
  Rect.
*/
.anno-rect-base {
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
}
.anno-rect {
    position: absolute;
}
.--hover .anno-rect {
  /*html*/
  box-shadow: 0 0 0 1px #ccc inset;
  /*svg*/
  stroke: #ccc;
  stroke-width: 0.75px;
}
.--selected .anno-rect {
  stroke: black;
  stroke-width: 0.5px;
  stroke-dasharray: 3;
}

/**
 Disable text layers.
*/
body.disable-text-layer .textLayer {
    display: none;
}

