@charset 'utf-8';

.no-visible {
    visibility: hidden;
}

/**
 * Viewer size.
 * This height will be override to fit the browser height (by app.js).
 */
.anno-viewer {
    width: 100%;
    height: 500px;
}

/**
 * Annotation Select UI Layout.
 */
.anno-select-layout {}
.anno-select-layout .row:first-child {
    margin-bottom: 10px;
}
.anno-select-layout [type="radio"] {
    margin-right: 5px;
}
.anno-select-layout [type="file"] {
    display: inline-block;
    margin-left: 5px;
    line-height: 1em;
}
.anno-select-layout .sp-replacer {
    padding: 0;
    border: none;
}
.anno-select-layout .sp-dd {
    display: none;
}

/**
 * Dropdown.
 */
.dropdown-menu {
    overflow: scroll;
}

/**
 * Color picker.
 */
.anno-ui .sp-replacer {
    padding: 0;
    border: none;
}
.anno-ui .sp-dd {
    display: none;
}
.anno-ui .sp-preview {
    margin-right: 0;
}

